#timerSection {
  display: block;
}

.headerMenu {
	font-size: 5.5vh;
	line-height: 7.5vh;
}

.content {
	height: 100%;
	/* margin: 0 12.5vw 5vh; */
	padding: 0 12.5vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

.card {
	width: 20vw;
	min-height: 40vh;
	height: auto;
  padding-right: 2.5vw;
	padding-top: 2vw;
	padding-left: 2.5vw;
	border-radius: calc(1vw - 2px);
	transition: width 1s;
	background-color: #e3e9f7;
  font-size: 2.2vh;
  /* border: 1px solid #c5b0f2; */
}

.wrapper {
	width: auto;
	height: auto;
	padding: 2px;
	border-radius: 1vw;
	transition: width 1s;
	box-shadow:  3px 3px 6px rgba(70, 70, 70, 0.12),
              -3px -3px 6px rgba(255, 255, 255, 0.7);
	background-image: linear-gradient(135deg, #c5b0f2, #6259c2 50%);
}

.card-title {
	line-height: 2vw;
	font-size: 2vw;
	font-weight: 500;
	margin-bottom: 2.5vh;
}

.cardField {
  display: flex;
  justify-content: space-between;
}

.mainMenu {
  position: absolute;
}

.subMenu {
  position: absolute;
  opacity: 0;
  transition: 1s;
  visibility: hidden;
  transform: translateX(2vw);
}

.card:hover .subMenu {
	visibility: visible;
	opacity: 1;
	transform: translateX(15vw);
}

.card:hover {
	width: 25vw;
}

.someSection {
	padding: 10%;
	margin-bottom: 5vh;
	width: 100%;
}

.donation {
	width: 50%;
}
